* {
    margin: 0px;
    padding: 0px;

}
.container{
    width: 1200px;
    height: 1000px;
    background-color: beige;
}
.header{
    height: 100px;
    width: 1200px;
    background-color: blue;
}
.navigation{
    height: 100px;
    width: 1200px;
    background-color: blueviolet;

}
.footer{
    height: 50px;
    width: 1200px;
    background-color: aquamarine;
}
.main{
    height: 800px;
    width: 1200px;
    background-color: azure;
}