.main{
      height: 1000px;
      width: 1280px;
      border: 3px solid black;

}
.header{
    height: 150px;
      width: 480px;
      border: 3px solid black;
      background-color: blue;

}

.logo {
    background-color: rgb(108, 165, 42);
    height: 120px;
    width: 470px;
    float: left;
    color: yellow;
    border: 3px solid orange;
}
.h1 {
    background-color: rgb(5, 39, 48);
    height: 100px;
    width: 790px;
    position: absolute;
    top: 10px;
    left: 495px;
    color: rgb(124, 10, 99);
    border: 4px solid purple;
}
.h2 {
    background-color: rgb(185, 115, 34);
    height: 50px;
    width: 790px;
    position: absolute;
    top: 110px;
    left: 495px;
    color: rgb(124, 10, 99);
    border: 3px solid rgb(91, 58, 212);
}
.h3 {
    background-color: rgb(141, 13, 120);
    height: 800px;
    width: 1280px;
    position: absolute;
    top: 155px;
    left: 5px;
    color: rgb(28, 89, 168);
    border: 3px solid rgb(212, 27, 36);
}
.h4 {
    background-color: rgb(23, 160, 64);
    height: 50px;
    width: 1280px;
    position: absolute;
    top: 960px;
    left: 7px;
    color: rgb(124, 10, 99);
    border: 4px solid rgb(91, 58, 212);
}
.h5 {
    background-color: rgb(122, 197, 88);
    height: 400px;
    width: 315px;
    position: absolute;
    top: 550px;
    left: 7px;
    color: rgb(148, 161, 24);
    border: 5px solid rgb(117, 41, 6);
}
.h6 {
    background-color: rgb(120, 143, 219);
    height: 400px;
    width: 315px;
    position: absolute;
    top: 550px;
    left: 322px;
    color: rgb(148, 161, 24);
    border: 5px solid rgb(91, 58, 212);
}
.h7 {
    background-color: rgb(173, 58, 122);
    height: 400px;
    width: 315px;
    position: absolute;
    top: 550px;
    left: 647px;
    color: rgb(148, 161, 24);
    border: 5px solid rgb(5, 32, 16);
}
.h8 {
    background-color: rgb(89, 160, 23);
    height: 400px;
    width: 315px;
    position: absolute;
    top: 550px;
    left: 960px;
    color: rgb(148, 161, 24);
    border: 5px solid rgb(12, 115, 122);
}

